.newsLetterSection {
  display: flex;
  flex-direction: column;
  background-color: rgba(12, 141, 186, 0.3);
  width: 100%;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
}

.emailInput {
  width: 502px;
  height: 50px;
  border-radius: 3px;
  border: none;
  padding-left: 1em;
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.subscribeButton {
  background-color: #0c8dba;
  padding: 0.6875em 6.625em;
  border-radius: 3px;
  border: none;
  margin-left: 0.3em;
  color: #ffffff;

  font-family: Nunito;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
