.galleryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
  position: relative;
  padding: 2em;
  min-height: "100%";
}

.description {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  text-align: left;
}

.topRight {
  position: absolute;
  top: 8px;
  right: 16px;
}

.ratingAndPrice {
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
}

.cartButton {
  width: 100%;
  padding: 0.6em;
  margin-top: 1em;
  border-radius: 4px;
  background-color: #ffffff;
  color: #0c8dba;
  border: 1px solid #0c8dba;
}
