.Box {
  background: #ffffff;
  border-radius: 8px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.title {
  max-width: 40px;
}

/* START Q&A CARD STYLE */
.question {
  padding: 1.5em;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
}

.answer {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  text-align: left;
}

.answerHeader {
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #03232e;
  margin-bottom: 1em;
}

.answerBody {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 24px; */
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #03232e;
  max-width: 330px;
  margin-bottom: 1em;
}

.answerBy {
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #595f62;
}

/* END Q&A CARD STYLE */

/* REVIEW CARD */
.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
}

.helpfulButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 39px;
  height: 26px;

  background: #f0f1f1;
  border-radius: 2px;
  border: none;
}

.helpfulButton + .helpfulButton {
  margin-left: 1em;
}

.oneEm {
  font-size: 1rem;
  margin: 1em 0;
}

.oneEmRight {
  margin-right: 1em;
}

.review {
  margin-bottom: 0.5em;
}
/* END REVIEW CARD */
