.counter {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 1em;
  border: 1px solid #d8d8d8;
}

.count {
  display: flex;
  padding: 0;
  margin: 0 1em;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125em;
  line-height: 1em;

  text-align: center;

  color: #03232e;
}

.counterMinus {
  background: #f0f1f1;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.counterPlus {
  background: #f0f1f1;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
}
