.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center; /* Black w/ opacity */
  z-index: 2;
  flex-direction: column;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #0c8dba;
  float: right;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;

  height: 21px;
  width: 21px;
  margin-left: auto;
  top: 30px;
  border-radius: 0px;
  position: absolute;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  /* width: 613px; */

  background: #ffffff;
  border-radius: 4px;
  padding: 2em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0 1em;
  border-bottom: 1px solid #e0e0e0;
}

.checkout {
  font-family: Nunito;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0;
}

.subheader {
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0;
  margin: 1.625em 0 1em;
}

.currentAddress {
  background: rgba(12, 141, 186, 0.05);
  /* Colors/Primary */

  border: 1px solid #0c8dba;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;
}

.address {
  background: rgba(12, 141, 186, 0.02);
  border: 1px solid rgba(89, 95, 98, 0.1);

  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;
}

.input {
  margin-right: 1em;
}

.addAddress {
  justify-items: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px dashed #e0e0e0;
}

.remove {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ba390c;
  margin-right: 1em;
}

.addToWishlist {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #0c8dba;
  margin-left: 1em;
  margin-right: 1em;
}

.customerName {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0;
  margin: 0 0 0.625em 0;
}

.telephone {
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0;
  margin: 0 0 0.375em 0;
}

.number {
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0;
  margin: 0 0 1em 0;
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em;
  border-radius: 2px;
}
