@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
:root {
  font-size: 1em;
  box-sizing: border-box;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
