.container {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 1.5em;
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25em;
}

.crumb {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}

.crumb li {
  margin: 0;
  padding-left: 0;
  color: #595f62;
  font-size: 0.87em;
  font-weight: 400;
  text-decoration: underline;
}

.crumb li + li {
  margin-left: 0.8em;
}

.pane {
  display: grid;
  grid-template-columns: 1fr 4fr 5fr 2fr;
  grid-gap: 1em;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 4px;
}

.details {
  display: flex;
  flex-direction: column;
}

.colors {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 1em;
}

.thumbnailWrapper {
  padding: 0.437em;
  border: 1px solid rgba(89, 95, 98, 0.2);
  margin: 0 0.93em;
}

.sizeWrapper {
  background-color: #ffffff;
  padding: 0.4em;
  width: 40px;
  height: 30px;
  border: 1px solid #03232e;
  margin: 0 0.93em;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: flex;
  border-radius: 2px;
}
.rightPane {
  display: flex;
  justify-content: space-evenly;
}

.titleRating {
  justify-items: flex-start;
  display: flex;
  flex-direction: column;
}

.price {
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.points {
  /* padding-left: 0; */
  padding-inline-start: 1.25em;
}

.points li {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0em;
  color: #03232e;
  padding-left: 1em;
}

.checkoutBox {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #e0e0e0;
  justify-content: space-around;
}

.inStock {
  color: #008b27;
  font-size: 1rem;
  line-height: 1.2em;
  font-weight: 400;
  padding: 0;
  margin: 0.9em 0;
}

.counterContainer {
  display: flex;
  align-items: center;
  justify-items: center;
}

.counter {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 1em;
  border: 1px solid #d8d8d8;
}

.count {
  display: flex;
  padding: 0;
  margin: 0 1em;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125em;
  line-height: 1em;

  text-align: center;

  color: #03232e;
}

.counterMinus {
  background: #f0f1f1;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.counterPlus {
  background: #f0f1f1;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
}

.productDescription {
  background-color: #ffffff;
  padding: 0.9em;
  margin-bottom: 1em;
}

.productDescriptionHeader {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 27px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  color: #03232e;
}

.productDescriptionText {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 22px;

  display: flex;
  align-items: center;

  color: #03232e;
  padding: 1em 0 0 0;
  border-top: 1px solid #e0e0e0;
  border-width: 100%;
}

.sectionHeader {
  font-family: Nunito;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #03232e;
  padding: 0;
  margin: 0;
  margin-bottom: 0.4em;
}

.smallImageWrapper {
  padding: 0.4em;
  border: 1px solid rgba(46, 55, 59, 0.1);
  justify-self: center;
  align-self: center;
}

.questions {
  padding: 1em 0 0 0;
  border-top: 1px solid #e0e0e0;
  border-width: 100%;
  margin-top: 1em;
}

.input {
  width: 100%;
  height: 48px;
  padding: 0.4em;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
}

.questionButton {
  width: 206px;
  height: 48px;
  left: 504px;
  top: 500px;

  background: #f0f1f1;
  border-radius: 4px;
  border: none;
  margin-left: 1em;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-top: 1.37em;
}

.customerReview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid #e0e0e0;
  margin-top: 1em;
  grid-gap: 2em;
}

.star {
  padding: 0;
  margin: 0;
  margin-right: 1em;
}

.max {
  width: 60%;
}

.shareThoughts {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 3.5em;
}

.reviewButton {
  width: 348px;
  height: 48px;

  background: #f0f1f1;
  border-radius: 4px;
  border: none;
  justify-items: center;
  align-items: center;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
}

.helpfulButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 39px;
  height: 26px;

  background: #f0f1f1;
  border-radius: 2px;
  border: none;
}

.helpfulButton + .helpfulButton {
  margin-left: 1em;
}

.oneEm {
  font-size: 1rem;
  margin: 1em 0;
}

.oneEmRight {
  margin-right: 1em;
}

.review {
  margin-bottom: 0.5em;
}

.carousel {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  padding: 0;
  max-width: 1600px;
}

@media screen and (max-width: 600px) {
  .results {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin-top: 1.37em;
  }

  .customerReview {
    grid-template-columns: 1fr;
  }

  .reviews {
    grid-template-columns: 1fr;
  }

  .carousel {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    padding: 0;
    max-width: 900px;
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 1.37em;
  }

  .reviews {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
}
